In [1]:
import pandas as pd
import seaborn as sns

In [6]:
iris = pd.read_csv('../data/iris.csv',  delimiter=';')

In [7]:
iris.head()

  sepal_length sepal_width petal_length petal_width species
0          5,1         3,5          1,4         0,2  setosa
1          4,9           3          1,4         0,2  setosa
2          4,7         3,2          1,3         0,2  setosa
3          4,6         3,1          1,5         0,2  setosa
4            5         3,6          1,4         0,2  setosa

In [8]:
iris.describe()

       sepal_length sepal_width petal_length petal_width species
count           150         150          150         150     150
unique           35          23           43          22       3
top               5           3          1,4         0,2  setosa
freq             10          26           13          29      50

In [ ]:
sns.pairplot(iris, hue='species')

In [11]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [12]:
X_columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
y_columns = ['species']

In [13]:
X = iris[X_columns]
y = iris[y_columns]

In [14]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [15]:
y.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [16]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=101)

In [22]:
X_train.shape

(105, 4)

In [24]:
X_test.shape

(45, 4)

In [26]:
from sklearn.neighbors import KNeighborsClassifier

In [27]:
knn = KNeighborsClassifier(n_neighbors=5)

In [28]:
knn.fit(X_train, y_train)

/lib/python3.11/site-packages/sklearn/neighbors/_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [29]:
preds = knn.predict(X_test)

In [30]:
preds

array(['setosa', 'setosa', 'setosa', 'virginica', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'virginica', 'setosa', 'setosa', 'virginica', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'virginica', 'setosa', 'setosa',
       'virginica', 'versicolor', 'virginica', 'versicolor', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'virginica', 'setosa', 'setosa', 'setosa', 'versicolor',
       'versicolor'], dtype=object)

In [32]:
y_test.head()

        species
33       setosa
16       setosa
43       setosa
129   virginica
50   versicolor

In [33]:
from sklearn.metrics import accuracy_score

In [34]:
print(accuracy_score(y_test, preds))

1.0