In [1]:
import pandas as pd
import seaborn as sns

c:\Users\User\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
c:\Users\User\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
c:\Users\User\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [15]:
abalone = pd.read_csv('../data/abalone.csv', delimiter=';')

In [16]:
abalone.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,"0,455","0,365","0,095","0,514","0,2245","0,101","0,15",15
1,M,"0,35","0,265","0,09","0,2255","0,0995","0,0485","0,07",7
2,F,"0,53","0,42","0,135","0,677","0,2565","0,1415","0,21",9
3,M,"0,44","0,365","0,125","0,516","0,2155","0,114","0,155",10
4,I,"0,33","0,255","0,08","0,205","0,0895","0,0395","0,055",7

In [17]:
abalone.describe()

             Rings
count  4177.000000
mean      9.933684
std       3.224169
min       1.000000
25%       8.000000
50%       9.000000
75%      11.000000
max      29.000000

In [14]:
sns.pairplot(abalone, hue='Sex')

ValueError: No variables found for grid columns.

In [12]:
abalone.columns

Index(['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Rings'],
      dtype='object')

In [13]:
X_columns = ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Rings']
y_columns = ['Sex']

In [14]:
X = abalone[X_columns]
y = abalone[y_columns]

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [17]:
X_train.shape

(2923, 8)

In [18]:
X_test.shape

(1254, 8)

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
rf = RandomForestClassifier(n_estimators=1000)

In [21]:
rf.fit(X_train, y_train)

<ipython-input-21-168a6fc83696>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=1000)

In [22]:
preds = rf.predict(X_test)

In [23]:
preds

array(['M', 'I', 'M', ..., 'I', 'M', 'M'], dtype=object)

In [24]:
y_test

     Sex
2775   I
3317   M
3732   F
2946   M
1997   I
...   ..
1951   F
3809   F
44     I
3867   F
1337   M

[1254 rows x 1 columns]

In [25]:
from sklearn.metrics import accuracy_score

In [27]:
print(accuracy_score(y_test, preds))

0.5502392344497608