In [1]:
import pandas as pd

In [3]:
iris = pd.read_csv('../data/iris.csv', delimiter=';')

In [4]:
iris.head()

  sepal_length sepal_width petal_length petal_width species
0          5,1         3,5          1,4         0,2  setosa
1          4,9           3          1,4         0,2  setosa
2          4,7         3,2          1,3         0,2  setosa
3          4,6         3,1          1,5         0,2  setosa
4            5         3,6          1,4         0,2  setosa

In [5]:
iris.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [6]:
iris.describe()

       sepal_length sepal_width petal_length petal_width species
count           150         150          150         150     150
unique           35          23           43          22       3
top               5           3          1,4         0,2  setosa
freq             10          26           13          29      50

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [9]:
numerical_columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [10]:
iris[numerical_columns].head()

  sepal_length sepal_width petal_length petal_width
0          5,1         3,5          1,4         0,2
1          4,9           3          1,4         0,2
2          4,7         3,2          1,3         0,2
3          4,6         3,1          1,5         0,2
4            5         3,6          1,4         0,2

In [ ]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(iris[numerical_columns])

In [ ]:
scaled_data

In [13]:
scaled_data = pd.DataFrame(scaled_data, columns = numerical_columns)
scaled_data.head()

   sepal_length  sepal_width  petal_length  petal_width
0      0.222222     0.625000      0.067797     0.041667
1      0.166667     0.416667      0.067797     0.041667
2      0.111111     0.500000      0.050847     0.041667
3      0.083333     0.458333      0.084746     0.041667
4      0.194444     0.666667      0.067797     0.041667

In [15]:
scaled_data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       0.428704     0.440556      0.467458     0.458056
std        0.230018     0.181611      0.299203     0.317599
min        0.000000     0.000000      0.000000     0.000000
25%        0.222222     0.333333      0.101695     0.083333
50%        0.416667     0.416667      0.567797     0.500000
75%        0.583333     0.541667      0.694915     0.708333
max        1.000000     1.000000      1.000000     1.000000

In [16]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000